%p#notice= notice

%p
  %b Title:
  = @book.title

- @book.authors.each do |author|
  %p
    %b Author name:
    = link_to author.full_name, author


= link_to 'Edit', edit_book_path(@book)
= link_to 'Back', books_path
